<section class="body__game">
  <section class="container">
    <div id="blackOut"></div>
    <div id="dialog" class="dialog">
      <div id="dialogFaceset" class="dialog__faceset"></div>
      <div id="dialogChat" class="dialog__chat"></div>
    </div>
    <div id="ecommerce" class="ecommerce">
      <div class="ecommerce__thumbnail" id="ecommerce__thumbnail"></div>
      <div class="ecommerce__chat" id="ecommerce__chat"></div>
      {{!-- <div class="ecommerce__window">
        <div class="ecommerce__window__top">
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__0"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__0">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__1"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__1">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__2"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__2">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__3"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__3">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__4"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__4">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__5"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__5">
          </div>
        </div>
        <div class="ecommerce__window__mid">
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__6"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img  " id="ecommerce__window__img__6">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__7"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img  " id="ecommerce__window__img__7">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__8"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img  " id="ecommerce__window__img__8">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__9"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img  " id="ecommerce__window__img__9">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__10"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__10">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__11"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__11">
          </div>
        </div>
        <div class="ecommerce__window__bot">
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__12"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__12">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__13"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__13">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__14"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__14">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__15"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__15">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__16"><img src="../img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__16">
          </div>
          <div class="ecommerce__window__item"><img src="" alt="" class="ecommerce__window__img__item"
              id="ecommerce__window__img__item__17"><img src="./img/asset/items/Shadow.png" alt=""
              class="ecommerce__window__img " id="ecommerce__window__img__17">
          </div>
        </div>
      </div> --}}

      <div class="ecommerce__faceset"></div>
      <div class="ecommerce__goldPlayer">
        <div id="goldPlayer"></div>
      </div>
      <div class="ecommerce__priceItem">
        <div id="priceItem"></div>
      </div>
    </div>

    <!-- Chat  -->
    {{!-- <article class="container-chat" style="display: none;">
      <div class="chat-body" id="chat-body">
        <p><span>Ujsi: </span>Hola soy una tortuga</p>
        <p class="user">Hola soy una tortuga<span> :Ujsi</span></p>
        <p><span>Ujsi: </span>Hola soy una tortuga</p>
      </div>
      <form class="chat-text" id="formChat">
        <input type="text" placeholder="Chat..." id="chatText">
        <input type="submit" value="enviar">
      </form>
    </article> --}}

    {{!-- Battle --}}
    <section class="battleContainer" id="battle">
      <div class="battleContainer__enemy">
        <div class="battleContainer__enemy__name" id="battle-name-enemy">
          NOMBRE DEL POKEMON ENEMIGO
        </div>
        <div class="battleContainer__enemy__health">
          <div>HP:</div>
          <div class="battleContainer__enemy__health__bar"></div>
        </div>
      </div>
      <div class="battleContainer__flex">
        <div class="battleContainer__player">
          <div class="battleContainer__player__name" id="battle-name-player">
            NOMBRE DE MI POKEMON
          </div>
          <div class="battleContainer__player__health">
            <div>HP:</div>
            <div class="battleContainer__player__health__bar"></div>
          </div>
        </div>
      </div>
      <div class="battleContainer__menu">
        <div id="btn-atackOne">Atack</div>
        <div id="btn-capture">Capture</div>
        <div id="btn-inventory">Inventory</div>
        <div id="btn-skip">Skip</div>
      </div>
      <div class="battleContainer__pokeball" id="pokeballBatlleContainer">
        <div class="battleContainer__pokeball__capture" id="pokeballBatlle" >
          <img src="img/battle/pokebola.png" alt="" >
        </div>
      </div>

      <div class="battleContainer__text" id="battleText">
      </div>

    </section>


    <canvas>
    </canvas>
  </section>
</section>
<script>
  const userName = '{{username}}'
</script>
<script type="module" src="javascript/index.js"></script>
<script type="module" src="javascript/chat/socketio.js"></script>