<section class="body__game">
  <section class="container">
    <div id="blackOut"></div>
    <div id="dialog" class="dialog">
      <div id="dialogFaceset" class="dialog__faceset"></div>
      <div id="dialogChat" class="dialog__chat"></div>
    </div>
    <div id="ecommerce" class="ecommerce">
      <div class="ecommerce__thumbnail" id="ecommerce__thumbnail"></div>
      <div class="ecommerce__chat" id="ecommerce__chat"></div>

      <div class="ecommerce__faceset"></div>
      <div class="ecommerce__goldPlayer">
        <div id="goldPlayer"></div>
      </div>
      <div class="ecommerce__priceItem">
        <div id="priceItem"></div>
      </div>
    </div>

    <!-- Chat  -->
    <article class="container-chat" style="display: none;">
      <div class="chat-body" id="chat-body">
        <p><span>Ujsi: </span>Hola soy una tortuga</p>
        <p class="user">Hola soy una tortuga<span> :Ujsi</span></p>
        <p><span>Ujsi: </span>Hola soy una tortuga</p>
      </div>
      <form class="chat-text" id="formChat">
        <input type="text" placeholder="Chat..." id="chatText">
        <input type="submit" value="enviar">
      </form>
    </article>

    {{!-- Battle --}}
    <section class="battleContainer" id="battle">
      <div class="battleContainer__enemy">
        <div class="battleContainer__enemy__name" id="battle-name-enemy">
          NOMBRE DEL POKEMON ENEMIGO
        </div>
        <div class="battleContainer__enemy__health">
          <div>HP:</div>
          <div class="battleContainer__enemy__health__bar"></div>
        </div>
      </div>
      <div class="battleContainer__flex">
        <div class="battleContainer__player">
          <div class="battleContainer__player__name" id="battle-name-player">
            NOMBRE DE MI POKEMON
          </div>
          <div class="battleContainer__player__health">
            <div>HP:</div>
            <div class="battleContainer__player__health__bar"></div>
          </div>
        </div>
      </div>
      <div class="battleContainer__menu">
        <div id="btn-atackOne">Atack</div>
        <div id="btn-capture">Capture</div>
        <div id="btn-inventory">Inventory</div>
        <div id="btn-skip">Skip</div>
      </div>
      <div class="battleContainer__pokeball" id="pokeballBatlleContainer">
        <div class="battleContainer__pokeball__capture" id="pokeballBatlle">
          <img src="img/battle/pokebola.png" alt="">
        </div>
      </div>

      <div class="battleContainer__text" id="battleText">
      </div>

    </section>
    {{!-- Inventory --}}
    <section class="inventory" id="inventory">
      {{!-- Inicial --}}
      <div class="inventory__active" id="init-inventory">
        <div class="inventory__active__container">
          <div class="inventory__active__container__img">
            <img src="" alt="" id="init-inventory-img">
          </div>
          <span id="init-inventory-name">Nombre</span>
          <div class="inventory__active__container__health">
            <div>HP:</div>
            <div id="init-inventory-lifebar" class="inventory__active__container__health__bar"></div>
          </div>
        </div>
      </div>
      <div class="inventory__container">

        {{!-- SLOTS --}}
        <div class="inventory__container__slots" id="slots-inventory">

        </div>
      </div>
      <div class="inventory__back">
        <span>Back</span>
      </div>
    </section>
    {{!-- Pc --}}
    <section class="pc" id="pc" style="display: flex;">
      <div class="pc__container" id="init-pc">
        <div class="pc__container__slots__left" id="slots-pc-team">

        </div>
      </div>
      <div class="pc__container">

        <div class="pc__container__slots__right" id="slots-pc">
        </div>
      </div>
      <div class="pc__back">
        <span id="pc-btn-back">Back</span>
      </div>
    </section>
    <canvas>
    </canvas>
  </section>
</section>
<script>
  const userName = '{{username}}'
</script>
<script type="module" src="javascript/index.js"></script>
<script type="module" src="javascript/chat/socketio.js"></script>