<section class="login">
	<article class="login__container">
		<h1>SING IN</h1>
		<form id="formSingin" class="form" action="/login" method="post" role="form" autocomplete="off">
			<div class="group">
				<input id="nombre" name="username" class="form-control" type="text" required>
				<span class="highlight"></span>
				<span class="bar"></span>
				<label>user</label>
			</div>

			<div class="group">
				<input id="password" name="password" class="form-control" type="password" required>
				<span class="highlight"></span>
				<span class="bar"></span>
				<label>Password</label>
			</div>

			<input type="submit" value="Sign in" class="login__container__btn" >
		</form>
		<br>
		<button class="btn btn-success my-3" onclick="location.href = '/signup'">Ir a Register</button>
	</article>
</section>