<div class="register">
  <section class="register__container">
    <h1>Register</h1>
    <form action="/signup" method="post" role="form" autocomplete="off">

      <div class="group">
        <input id="nombre" name='username' class="form-control" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>NameUser</label>
      </div>

      <div class="group">
        <input id="email" name='email' class="form-control" type="email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </div>

      <div class="group">
        <input id="password" name='password' class="form-control" type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </div>

      <input type="submit" value="Register" class="register__container__btn">
    </form>
    <br>

    <button class="btn btn-success my-3" onclick="location.href = '/login'">Ir a Login</button>
  </section>
</div>